<div class="login-container" >

  <mat-card class="login-card">
    <p>{{errorMessage}}</p>

    <mat-button-toggle-group [(ngModel)]="selectedLanguage" class="togglePar" appearance="legacy"    >
      <mat-button-toggle *ngFor="let lang of LANGUAGES" [value]="lang.code" class="toggle"
       (change)="useLanguage(lang.code)" >
        {{ lang.label }}
      </mat-button-toggle>
    </mat-button-toggle-group>
    <h2 class="text-center">{{ "login" | translate }}</h2>



    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" [dir]="selectedLanguage ==='fr' ? 'ltr' :'rtl'">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{"email" | translate}}</mat-label>
        <input matInput placeholder="{{'email' | translate}}" formControlName="email">
        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">{{"email.is.required" | translate}}</mat-error>
        <!-- <mat-error *ngIf="loginForm.get('email')?.hasError('email')">{{"invalid.email" | translate }}</mat-error> -->
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{"password" | translate}}</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">{{"password.is.required" | translate}}</mat-error>
        <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">Minimum 6 characters</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" class="full-width" type="submit">
        {{ "login" | translate }}
      </button>
    </form>
  </mat-card>
</div>
